<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Divine Shop</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="top-header">
        <div class="container">
            <div class="top1">
                <a href="#">
                    <i class="fab fa-hotjar"></i> Gia hạn Spotify Premium 12 tháng chỉ 120K
                </a>
            </div>
            <div class="hotline">Hỗ trợ 1900 633 305</div>
        </div>
    </div>
    <header class="fixed-header">
        <div class="header-container">
            <div class="logo">
                <a href="#">
                    <img src="images/logo_divine_pure_white.png" style="margin-right: 10px;width: 60px">
                    <img src="images/logo-1.png" style="width: 100px;">
                </a>
            </div>
            <div class="search">
                <div class="search-control">
                    <input type="text" name="search" id="filter-name" class="box-search" placeholder="Nhập sản phẩm cần tìm...">
                    <div class="search-btn">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
            </div>
            <div class="header-btn">
                <div class="header-btn align-items-center flex">
                    <div class="dropdow">
                        <div class="login">
                            <i class="fas fa-user"></i>
                            <span>Đăng nhập</span>
                        </div>
                    </div>
                </div>
                <div id="home-cart" class=" dropdow dropdow-header shopping-cart mg-cart">
                    <div class="align-items-center flex">
                        <i class="fas fa-shopping-cart cart-size text-white"></i>
                        <b class="cart-text">Giỏ hàng</b>
                        <span class="quantity">0</span>
                    </div>
                </div>
            </div>

        </div>
    </header>
    <div class="banner-home">
        <div class="menu-1">
            <div class="container" style="margin-top: 6px;">
                <div class="menu-catalog">
                    <div class="left-menu">
                        <div class="bar-btn">
                            <i class="fas fa-bars"></i>
                            <span>Danh mục sản phẩm</span>
                        </div>
                        <div class="nav-menu">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-steam-symbol"></i>
                                        <span>Game trên Steam</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-trophy"></i>
                                        <span>PUBG</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-cube"></i>
                                        <span>Game trên Origin</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-crosshairs"></i>
                                        <span>Game trên Battle.net</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-wallet"></i>
                                        <span>Steam Wallet</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-mobile-alt"></i>
                                        <span>Nạp Game Mobile</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-glide"></i>
                                        <span>Gói nạp Garena</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-google-play"></i>
                                        <span>Google Play</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-magic"></i>
                                        <span>Tiện ích</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-wallet"></i>
                                        <span>Nintendo Eshop Card</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="right-menu">
                        <div class="row menu-tab-all">
                            <div class="quick-menu ml">
                                <a href="#">
                                    <i class="fab fa-hotjar"></i>
                                    <span>Mua nhiều trong 24h</span>
                                </a>
                            </div>
                            <div class="quick-menu">
                                <a href="#">
                                    <i class="fas fa-award"></i>
                                    <span>ĐANG KHUYẾN MẠI</span>
                                </a>
                            </div>
                            <div class="quick-menu">
                                <a href="#">
                                    <i class="far fa-credit-card"></i>
                                    <span>Hình thức thanh toán</span>
                                </a>
                            </div>
                            <div class="quick-menu">
                                <a href="#">
                                    <i class="fas fa-gamepad"></i>
                                    <span>Hướng dẫn mua hàng</span>
                                </a>
                            </div>
                        </div>
                        <div class="row slider-container" style="max-width: 797px;">
                            <div class="home-slider">
                                <div class="slick-list">
                                    <a href="#">
                                        <img src="images/Artboard 1-525x300.png" alt="">
                                    </a>
                                </div>
                                <div class="row sub-banner">
                                    <a href="#">
                                        <img src="images/GARENA1.png" alt="#">
                                    </a>
                                    <a href="#">
                                        <img src="images/ITUNES1.png" alt="#">
                                    </a>
                                </div>
                            </div>

                            <div class="row banner-bottom">
                                <div class="row sub-banner1">
                                    <a href="#">
                                        <img src="images/STEAM1.png" alt="#">
                                    </a>
                                </div>
                                <div class="row sub-banner1">
                                    <a href="#">
                                        <img src="images/FREEPIK1.png" alt="#">
                                    </a>
                                </div>
                                <div class="row sub-banner1">
                                    <a href="#">
                                        <img src="images/viettel1.png" alt="#">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="container three-banners">
        <div class="quick-view">
            <div class="row three-banner">
                <div class="hinh1">
                    <a href="#">
                        <div class="item">
                            <div class="item-btn">Xem ngay</div>
                        </div>
                    </a>
                </div>
                <div class="hinh2">
                    <a href="#">
                        <div class="item1">
                            <div class="item-btn1">Xem thêm</div>
                        </div>
                    </a>
                </div>
                <div class="hinh3">
                    <a href="#">
                        <div class="item2">
                            <div class="item-btn2">Mua ngay</div>
                        </div>
                    </a>
                </div>
            </div>

        </div>

    </div>
    <hr>
    <div class="container">
        <div class="list-title">
            <h2>Sản phẩm nổi bật</h2>
            <a href="#">Xem chi tiết</a>
        </div>
        <div class="list-container">
            <div class="row">
                <div class="box">
                    <div class="item-game">
                        <a href="#">
                            <div class="img"><img src="images/header.jpg" alt="#"></div>
                        </a>
                        <div class="item-info">
                            <a href="#">
                                <div class="item-title">Grand Theft Auto V - GTA V</div>
                            </a>
                            <div class="item-price">
                                <span class="cur-p">458,000đ</span>
                            </div>
                            <div class="item-btn-c"><a href="#"><i class="fas fa-shopping-cart "></i></a></div>
                            <div class="item-btn">Mua ngay</div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="item-game">
                        <a href="#">
                            <div class="img"><img src="images/netflix1.png" alt="#"></div>
                        </a>
                        <div class="item-info">
                            <a href="#">
                                <div class="item-title">
                                    Tài khoản Netflix Premium for 1 User (1 Tháng)</div>
                            </a>
                            <div class="item-price">
                                <span class="cur-p">49,000đ</span>
                                <span class="price-block">
                                    <span class="old-p">89,000đ</span>
                                <span class="dis-p">-45%</span>
                                </span>
                            </div>
                            <div class="item-btn-c"><a href="#"><i class="fas fa-shopping-cart "></i></a></div>
                            <div class="item-btn1">Mua ngay</div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="item-game">
                        <a href="#">
                            <div class="img"><img src="images/discordnitroclassic.png" alt="#"></div>
                        </a>
                        <div class="item-info">
                            <a href="#">
                                <div class="item-title">
                                    Discord Nitro 1 Month (Classic) </div>
                            </a>
                            <div class="item-price">
                                <span class="cur-p">105,000đ</span>
                                <span class="price-block">
                                    <span class="old-p">125,000đ</span>
                                <span class="dis-p">-16%</span>
                                </span>
                            </div>
                            <div class="item-btn-c"><a href="#"><i class="fas fa-shopping-cart "></i></a></div>
                            <div class="item-btn2">Mua ngay</div>
                        </div>
                    </div>
                </div>
                <div class="box4">
                    <div class="item-game">
                        <a href="#">
                            <div class="img"><img src="images/PUBG-ratbt.png" alt="#"></div>
                        </a>
                        <div class="item-info">
                            <a href="#">
                                <div class="item-title">
                                    PlayerUnknown's Battlegrounds PUBG CDKEY </div>
                            </a>
                            <div class="item-price">
                                <span class="cur-p">240,000đ</span>
                                <span class="price-block">
                                    <span class="old-p">340,000đ</span>
                                <span class="dis-p">-29%</span>
                                </span>
                            </div>
                            <div class="item-btn-c"><a href="#"><i class="fas fa-shopping-cart "></i></a></div>
                            <div class="item-btn3">Mua ngay</div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="item-game">
                        <a href="#">
                            <div class="img"><img src="images/header1.jpg" alt="#"></div>
                        </a>
                        <div class="item-info">
                            <a href="#">
                                <div class="item-title">
                                    RESIDENT EVIL 3 </div>
                            </a>
                            <div class="item-price">
                                <span class="cur-p">599,000đ</span>
                                <span class="price-block">
                                    <span class="old-p">1,361,000đ </span>
                                <span class="dis-p">-56%</span>
                                </span>
                            </div>
                            <div class="item-btn-c"><a href="#"><i class="fas fa-shopping-cart "></i></a></div>
                            <div class="item-btn4">Mua ngay</div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="item-game">
                        <a href="#">
                            <div class="img"><img src="images/monster_icemaster.jpg" alt="#"></div>
                        </a>
                        <div class="item-info">
                            <a href="#">
                                <div class="item-title">

                                    Monster Hunter World : Iceborne Master Edition </div>
                            </a>
                            <div class="item-price">
                                <span class="cur-p">699,000đ</span>
                                <span class="price-block">
                                    <span class="old-p">1,100,000đ </span>
                                <span class="dis-p">-36%</span>
                                </span>
                            </div>
                            <div class="item-btn-c"><a href="#"><i class="fas fa-shopping-cart "></i></a></div>
                            <div class="item-btn5">Mua ngay</div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="item-game">
                        <a href="#">
                            <div class="img"><img src="images/youtube-pre.png" alt="#"></div>
                        </a>
                        <div class="item-info">
                            <a href="#">
                                <div class="item-title">

                                    Gia hạn Youtube Premium (1 Tháng) </div>
                            </a>
                            <div class="item-price">
                                <span class="cur-p">25,000đ</span>
                                <span class="price-block">
                                    <span class="old-p">280,000đ</span>
                                <span class="dis-p">-91%</span>
                                </span>
                            </div>
                            <div class="item-btn-c"><a href="#"><i class="fas fa-shopping-cart "></i></a></div>
                            <div class="item-btn6">Mua ngay</div>
                        </div>
                    </div>
                </div>
                <div class="box4">
                    <div class="item-game">
                        <a href="#">
                            <div class="img"><img src="images/Banner ngang inside.png" alt="#"></div>
                        </a>
                        <div class="item-info">
                            <a href="#">
                                <div class="item-title">

                                    Code gia hạn Adobe Full App (1 năm) </div>
                            </a>
                            <div class="item-price">
                                <span class="cur-p">590,000đ</span>
                                <span class="price-block">
                                    <span class="old-p">900,000đ</span>
                                <span class="dis-p">-49%</span>
                                </span>
                            </div>
                            <div class="item-btn-c"><a href="#"><i class="fas fa-shopping-cart "></i></a></div>
                            <div class="item-btn3">Mua ngay</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="list-title">
            <h2>Sản phẩm bán chạy</h2>
            <a href="#">Xem chi tiết</a>
        </div>
        <div class="list-container">
            <div class="row">
                <div class="box">
                    <div class="item-game">
                        <a href="#">
                            <div class="img"><img src="images/netflix1.png" alt="#"></div>
                        </a>
                        <div class="item-info">
                            <a href="#">
                                <div class="item-title">
                                    Tài khoản Netflix Premium for 1 User (1 Tháng)</div>
                            </a>
                            <div class="item-price">
                                <span class="cur-p">49,000đ</span>
                                <span class="price-block">
                                    <span class="old-p">89,000đ</span>
                                <span class="dis-p">-45%</span>
                                </span>
                            </div>
                            <div class="item-btn-c"><a href="#"><i class="fas fa-shopping-cart "></i></a></div>
                            <div class="item-btn5">Mua ngay</div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="item-game">
                        <a href="#">
                            <div class="img"><img src="images/photo_2020-05-12_17-51-53.jpg" alt="#"></div>
                        </a>
                        <div class="item-info">
                            <a href="#">
                                <div class="item-title">
                                    Random Code Steam </div>
                            </a>
                            <div class="item-price">
                                <span class="cur-p">10,000đ</span>
                                <span class="price-block">
                                    <span class="old-p">20,000đ</span>
                                <span class="dis-p">-50%</span>
                                </span>
                            </div>
                            <div class="item-btn-c"><a href="#"><i class="fas fa-shopping-cart "></i></a></div>
                            <div class="item-btn5">Mua ngay</div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="item-game">
                        <a href="#">
                            <div class="img"><img src="images/40hkd-457x213.png" alt="#"></div>
                        </a>
                        <div class="item-info">
                            <a href="#">
                                <div class="item-title">

                                    Steam Wallet Code 118k VNĐ ( >5$ ) </div>
                            </a>
                            <div class="item-price">
                                <span class="cur-p">127,000đ</span>

                            </div>
                            <div class="item-btn-c"><a href="#"><i class="fas fa-shopping-cart "></i></a></div>
                            <div class="item-btn5">Mua ngay</div>
                        </div>
                    </div>
                </div>
                <div class="box4">
                    <div class="item-game">
                        <a href="#">
                            <div class="img"><img src="images/wallet80HKD.png" alt="#"></div>
                        </a>
                        <div class="item-info">
                            <a href="#">
                                <div class="item-title">

                                    Steam Wallet Code 236k VNĐ ( >10$ ) </div>
                            </a>
                            <div class="item-price">
                                <span class="cur-p">250,000đ</span>
                            </div>
                            <div class="item-btn-c"><a href="#"><i class="fas fa-shopping-cart "></i></a></div>
                            <div class="item-btn3">Mua ngay</div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="item-game">
                        <a href="#">
                            <div class="img"><img src="images/steamwallet77k.png" alt="#"></div>
                        </a>
                        <div class="item-info">
                            <a href="#">
                                <div class="item-title">

                                    Steam Wallet Code 77,000 VND </div>
                            </a>
                            <div class="item-price">
                                <span class="cur-p">88,000đ</span>
                            </div>
                            <div class="item-btn-c"><a href="#"><i class="fas fa-shopping-cart "></i></a></div>
                            <div class="item-btn4">Mua ngay</div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="item-game">
                        <a href="#">
                            <div class="img"><img src="images/steam wallet 100000.png" alt="#"></div>
                        </a>
                        <div class="item-info">
                            <a href="#">
                                <div class="item-title">


                                    Steam Wallet Code 100,000 VND </div>
                            </a>
                            <div class="item-price">
                                <span class="cur-p">110,000đ</span>

                            </div>
                            <div class="item-btn-c"><a href="#"><i class="fas fa-shopping-cart "></i></a></div>
                            <div class="item-btn5">Mua ngay</div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="item-game">
                        <a href="#">
                            <div class="img"><img src="images/netflix1.png" alt="#"></div>
                        </a>
                        <div class="item-info">
                            <a href="#">
                                <div class="item-title">
                                    Tài khoản Netflix Premium for 1 User (3 Tháng)</div>
                            </a>
                            <div class="item-price">
                                <span class="cur-p">149,000đ</span>
                                <span class="price-block">
                                    <span class="old-p">270,000đ</span>
                                <span class="dis-p">-45%</span>
                                </span>
                            </div>
                            <div class="item-btn-c"><a href="#"><i class="fas fa-shopping-cart "></i></a></div>
                            <div class="item-btn5">Mua ngay</div>
                        </div>
                    </div>
                </div>
                <div class="box4">
                    <div class="item-game">
                        <a href="#">
                            <div class="img"><img src="images/PUBG-ratbt.png" alt="#"></div>
                        </a>
                        <div class="item-info">
                            <a href="#">
                                <div class="item-title">
                                    PlayerUnknown's Battlegrounds PUBG CDKEY </div>
                            </a>
                            <div class="item-price">
                                <span class="cur-p">240,000đ</span>
                                <span class="price-block">
                                    <span class="old-p">340,000đ</span>
                                <span class="dis-p">-29%</span>
                                </span>
                            </div>
                            <div class="item-btn-c"><a href="#"><i class="fas fa-shopping-cart "></i></a></div>
                            <div class="item-btn3">Mua ngay</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container" style="margin-top: 15px;">
        <div class="list-title">
            <h2>Khám phá</h2>
        </div>
        <div class="list-container">
            <div class="row">
                <div class="boxk mr">
                    <a href="#">
                        <div class="item-bottom">
                            <img src="images/san-pham-noi-bat.png">
                            <div class="item-info">
                                <div class="item-title">SẢN PHẨM NỔI BẬT</div>
                                <div class="item-des">Game hot trên thị trường, được mọi người mua nhiều.</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="boxk mr">
                    <a href="#">
                        <div class="item-bottom">
                            <img src="images/khuyen-mai.png">
                            <div class="item-info">
                                <div class="item-title">KHUYẾN MÃI</div>
                                <div class="item-des">Cơ hội mua game khủng với giá cực tốt, chờ gì nữa vào thôi nào!</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="boxk mr">
                    <a href="#">
                        <div class="item-bottom">
                            <img src="images/code_wallet.png">
                            <div class="item-info">
                                <div class="item-title">CODE WALLET</div>
                                <div class="item-des">Nạp tiền vào ví mua sản phẩm dễ dàng hơn bao giờ hết.</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="boxk">
                    <a href="#">
                        <div class="item-bottom">
                            <img src="images/goi-nap.jpg">
                            <div class="item-info">
                                <div class="item-title">GÓI NẠP</div>
                                <div class="item-des">Giá cực rẻ, nạp cực nhanh chỉ có tại Divine shop.</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <br>
    <div class="container">
        <div class="list-title">
            <h2>Sản phẩm khuyến mãi</h2>
            <a href="#">Xem chi tiết</a>
        </div>
        <div class="list-container">
            <div class="row">
                <div class="box">
                    <div class="item-game">
                        <a href="#">
                            <div class="img"><img src="images/header2.jpg" alt="#"></div>
                        </a>
                        <div class="item-info">
                            <a href="#">
                                <div class="item-title">
                                    Euro Truck Simulator 2</div>
                            </a>
                            <div class="item-price">
                                <span class="cur-p">87,000đ</span>
                                <span class="price-block">
                                    <span class="old-p">349,000đ</span>
                                <span class="dis-p">-75%</span>
                                </span>
                            </div>
                            <div class="item-btn-c"><a href="#"><i class="fas fa-shopping-cart "></i></a></div>
                            <div class="item-btn5">Mua ngay</div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="item-game">
                        <a href="#">
                            <div class="img"><img src="images/header3.jpg" alt="#"></div>
                        </a>
                        <div class="item-info">
                            <a href="#">
                                <div class="item-title">
                                    No Man's Sky </div>
                            </a>
                            <div class="item-price">
                                <span class="cur-p">239,000đ</span>
                                <span class="price-block">
                                    <span class="old-p">479,000đ</span>
                                <span class="dis-p">-50%</span>
                                </span>
                            </div>
                            <div class="item-btn-c"><a href="#"><i class="fas fa-shopping-cart "></i></a></div>
                            <div class="item-btn5">Mua ngay</div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="item-game">
                        <a href="#">
                            <div class="img"><img src="images/header4.jpg" alt="#"></div>
                        </a>
                        <div class="item-info">
                            <a href="#">
                                <div class="item-title">

                                    AXYOS</div>
                            </a>
                            <div class="item-price">
                                <span class="cur-p">7,000đ</span>
                                <span class="price-block">
                                    <span class="old-p">69,000đ</span>
                                <span class="dis-p">-90%</span>
                                </span>
                            </div>
                            <div class="item-btn-c"><a href="#"><i class="fas fa-shopping-cart "></i></a></div>
                            <div class="item-btn5">Mua ngay</div>
                        </div>
                    </div>
                </div>
                <div class="box4">
                    <div class="item-game">
                        <a href="#">
                            <div class="img"><img src="images/header5.jpg" alt="#"></div>
                        </a>
                        <div class="item-info">
                            <a href="#">
                                <div class="item-title">

                                    Far Cry 5 - Standard Edition </div>
                            </a>
                            <div class="item-price">
                                <span class="cur-p">148,000đ</span>
                                <span class="price-block">
                                    <span class="old-p">988,000đ</span>
                                <span class="dis-p">-85%</span>
                                </span>
                            </div>
                            <div class="item-btn-c"><a href="#"><i class="fas fa-shopping-cart "></i></a></div>
                            <div class="item-btn3">Mua ngay</div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="item-game">
                        <a href="#">
                            <div class="img"><img src="images/header6.jpg" alt="#"></div>
                        </a>
                        <div class="item-info">
                            <a href="#">
                                <div class="item-title">

                                    Far Cry 4 </div>
                            </a>
                            <div class="item-price">
                                <span class="cur-p">98,000đ</span>
                                <span class="price-block">
                                    <span class="old-p">494,000đ</span>
                                <span class="dis-p">-80%</span>
                                </span>
                            </div>
                            <div class="item-btn-c"><a href="#"><i class="fas fa-shopping-cart "></i></a></div>
                            <div class="item-btn4">Mua ngay</div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="item-game">
                        <a href="#">
                            <div class="img"><img src="images/header7.jpg" alt="#"></div>
                        </a>
                        <div class="item-info">
                            <a href="#">
                                <div class="item-title">


                                    Road Redemption </div>
                            </a>
                            <div class="item-price">
                                <span class="cur-p">74,000đ</span>
                                <span class="price-block">
                                    <span class="old-p">187,000đ</span>
                                <span class="dis-p">-60%</span>

                            </div>
                            <div class="item-btn-c"><a href="#"><i class="fas fa-shopping-cart "></i></a></div>
                            <div class="item-btn5">Mua ngay</div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="item-game">
                        <a href="#">
                            <div class="img"><img src="images/header8.jpg" alt="#"></div>
                        </a>
                        <div class="item-info">
                            <a href="#">
                                <div class="item-title">
                                    Far Cry 3</div>
                            </a>
                            <div class="item-price">
                                <span class="cur-p">49,000đ</span>
                                <span class="price-block">
                                    <span class="old-p">329,000đ</span>
                                <span class="dis-p">-85%</span>
                                </span>
                            </div>
                            <div class="item-btn-c"><a href="#"><i class="fas fa-shopping-cart "></i></a></div>
                            <div class="item-btn5">Mua ngay</div>
                        </div>
                    </div>
                </div>
                <div class="box4">
                    <div class="item-game">
                        <a href="#">
                            <div class="img"><img src="images/9.jpg" alt="#"></div>
                        </a>
                        <div class="item-info">
                            <a href="#">
                                <div class="item-title">
                                    BioShock: The Collection</div>
                            </a>
                            <div class="item-price">
                                <span class="cur-p">249,000đ</span>
                                <span class="price-block">
                                    <span class="old-p">998,000đ</span>
                                <span class="dis-p">-75%</span>
                                </span>
                            </div>
                            <div class="item-btn-c"><a href="#"><i class="fas fa-shopping-cart "></i></a></div>
                            <div class="item-btn3">Mua ngay</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="banner1">
        <div class="container">
            <div class="line">
                <span>Bạn là người mới?</span>
            </div>
            <div class="text">Hãy đăng kí tài khoản để cập nhật những ưu đãi mới nhất từ Divine Shop</div>
            <a href="#">
                <div class="btn-aqua">Đăng ký ngay</div>
            </a>
            <div class="text">Hoặc đăng nhập nếu bạn đã có tài khoản</div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row pst">
                <div class="boxf">
                    <div class="pra">DIVINESHOP</div>
                    <ul>
                        <li>
                            <a href="#">Game bản quyền là gì?</a>
                        </li>
                        <li><a href="#">Giới thiệu Divine Shop</a></li>
                        <li><a href="#">Điều khoản dịch vụ</a></li>
                        <li><a href="#">Chính sách bảo mật</a></li>
                    </ul>
                </div>
                <div class="boxf">
                    <div class="pra">TÀI KHOẢN</div>
                    <ul>
                        <li>
                            <a href="#">Giỏ hàng</a>
                        </li>
                        <li><a href="#">Đăng kí</a></li>
                        <li><a href="#">Đăng nhập</a></li>
                        <li><a href="#">Sản phẩm đã mua</a></li>
                        <li><a href="#">Chế độ bảo hành</a></li>
                    </ul>
                </div>
                <div class="boxf">
                    <div class="pra">LIÊN HỆ</div>
                    <ul>
                        <li>
                            <a href="#">Địa chỉ giao dịch trực tiếp</a>
                        </li>
                        <li><a href="#">Hotline: 1900 633 305 (7:00 - 24:00)</a></li>
                        <li><a href="#">Email: hotro@divineshop.vn</a></li>
                        <li><a href="#">Fanpage</a></li>
                        <li><a href="#">Donate nhân viên CSKH</a></li>
                    </ul>
                </div>
                <div class="boxf">
                    <img src="images/fp.png">
                </div>
            </div>
        </div>
    </footer>
</body>

</html>